@using X.PagedList; 
@using X.PagedList.Mvc.Core

@{
    ViewBag.Title = "Employees show";
    Layout = "_Layout";
}


 <link href="~/dist/styles/users.css" rel="stylesheet" />
<link href="/dist/styles/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Darbuotojų sąrašas</h2>

@if (ViewBag.OnePageOfProducts != null)
{
    foreach (var user in ViewBag.OnePageOfProducts)
    {
        <div class="card" style="padding-bottom: 20px;">
            <div class="row ">
                <div class="col-md-4" style="width: 100%">
                    <img src="/images/user77.png" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">@user.Name @user.LastName</h4>
                        <p>@user.Address email: @user.Email</p>
                        <p class="card-text">Informacija apie jį: Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p class="card-text">Akcijos: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Nerasta jokių darbuotojų</p>
}
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))